<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="dev.driver" value="com.mysql.jdbc.Driver"/>
        <property name="dev.url" value="jdbc:mysql://10.0.123.104:7001/cre_16"/>
        <property name="dev.user" value="mysql"/>
        <property name="dev.password" value="mysql"/>
    </properties>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${dev.driver}"/>
                <property name="url" value="${dev.url}"/>
                <property name="username" value="${dev.user}"/>
                <property name="password" value="${dev.password}"/>
            </dataSource>
        </environment>
        
        <environment id="real">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED"></dataSource>
        </environment>
    </environments>


    <mappers>
        <!--<package name="org.trump.vincent.mybatis.model.*"/>-->
        <mapper class="org.trump.vincent.mybatis.model.Resource"/>
    </mappers>
</configuration>